<!-- BEGIN : LOGIN PAGE 5-1 -->
       <div class="user-login-5" style="background-color:white">
           <div class="row bs-reset">
               <div class="col-md-6 bs-reset">
                   <div class="login-bg" style="background-image:url(assets/pages/img/login/bg1.jpg)">
                       <img class="login-logo" src="assets/pages/img/logo.png" /> </div>
               </div>
               <div class="col-md-6 login-container bs-reset">
                   <div class="login-content">
                       <h1>Revice Admin Login</h1>
                       <!-- <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p> -->
                       <form action="javascript:;" class="login-form" method="post">
                           <div class="row">
                               <div class="col-xs-6">
                                   <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" ng-model="auth.email" required/> </div>
                               <div class="col-xs-6">
                                   <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="auth.password" required/> </div>
                           </div>
                           <uib-alert ng-show="auth.loginError" type="danger" close="auth.hideError()">{{auth.errorText}}</uib-alert>
                           <div class="row">
                               <div class="col-sm-4">
                                   <div class="rem-password">
                                       <p>Remember Me
                                           <input type="checkbox" class="rem-checkbox" />
                                       </p>
                                   </div>
                               </div>
                               <div class="col-sm-8 text-right">
                                   <div class="forgot-password">
                                       <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                                   </div>
                                   <button class="btn blue" type="submit" ng-click="auth.login()">Sign In</button>
                               </div>
                           </div>
                       </form>
                   </div>
                   <div class="login-footer">
                       <div class="row bs-reset">
                           <div class="col-xs-4 bs-reset">
                               <ul class="login-social">
                                   <li>
                                       <a href="javascript:;">
                                           <i class="icon-social-facebook"></i>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="javascript:;">
                                           <i class="icon-social-twitter"></i>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="javascript:;">
                                           <i class="icon-social-dribbble"></i>
                                       </a>
                                   </li>
                               </ul>
                           </div>
                           <div class="col-xs-8 bs-reset">
                               <div class="login-copyright text-right">
                                   <p>Copyright &copy; Revice 2015</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- END : LOGIN PAGE 5-1 -->
