<form id="editForm" role="form" class="form form-horizontal" ng-submit="edit.saveDescription()">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="nama">Nama</label>
                    <div class="col-md-10">
                        <input type="text" required ng-model="edit.service.nama" class="form-control" id="nama" placeholder="Masukkan Nama Service">
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="alamat">Alamat</label>
                    <div class="col-md-10">
                        <input type="text" required ng-model="edit.service.alamat" class="form-control" id="alamat" placeholder="Masukkan Alamat Service">
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="desc">Deskripsi</label>
                    <div class="col-md-10">
                        <input type="text" required ng-model="edit.service.deskripsi" class="form-control" id="desc" placeholder="Masukkan Deskripsi Service">
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="pass">Telp</label>
                    <div class="col-md-10">
                        <input type="text" required ng-model="edit.service.telp" class="form-control" id="pass" placeholder="Masukkan Telpon Service">
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                  <label class="col-md-2 control-label" for="roles">Tipe</label>
                  <div class="col-md-10">
                    <div class="md-radio-inline">
                      <div class="md-radio">
                        <input type="radio" ng-model="edit.service.tipe_id" value="1" id="roles1" name="roles" class="md-radiobtn">
                        <label for="roles1">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          Tambal Ban
                        </label>
                      </div>
                      <div class="md-radio">
                        <input type="radio" ng-model="edit.service.tipe_id" value="2" id="roles2" name="roles" class="md-radiobtn">
                        <label for="roles2">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          Bengkel
                        </label>
                      </div>
                      <div class="md-radio">
                        <input type="radio" ng-model="edit.service.tipe_id" value="3" id="roles3" name="roles" class="md-radiobtn">
                        <label for="roles3">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          Pom Bensin
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="lat">Lat</label>
                    <div class="col-md-10">
                        <input type="text" required ng-model="edit.service.lat" class="form-control" id="lat" placeholder="Masukkan Latitude">
                        <div class="form-control-focus"></div>
                    </div>
                </div>

                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="lng">Lng</label>
                    <div class="col-md-10">
                        <input type="text" required ng-model="edit.service.lng" class="form-control" id="lng" placeholder="Masukkan Longitud">
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn green-haze">
                                Submit
                            </button>
                            <a href="#/services/main" class="btn btn-default">
            Cancel
          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" pan="true" control="map.control">
                        <!--to add as a map control -->
                        <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

                        <ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" events="marker.events"></ui-gmap-marker>

                    </ui-gmap-google-map>
                </div>
            </div>

        </div>
</form>
