<form id="editPasswd" role="form" class="form form-horizontal" ng-submit="edit.newManager()">
  <div class="form-body">
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="manager">User ID</label>
      <div class="col-md-10">
        <input type="text" required ng-model="edit.newManagerData.userId" class="form-control" id="manager" placeholder="Tambah Manager Baru">
        <div class="form-control-focus"></div>
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn green-haze">
            Submit
          </button>
          <a href="#/users/main" class="btn btn-default">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
          <thead>
            <tr role="row" class="heading">
              <th width="5%">
                ID&nbsp;#
              </th>
              <th width="15%">
                Nama
              </th>
              <th width="15%">
                Aksi
              </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in edit.service.admin_name">
              <td>{{s.id}}</td>
              <td>{{s.nama}}</td>
              <td>
                <a ng-click="edit.deleteManager(s.id)" class="btn btn-sm red">
                  <i class="fa fa-times"></i>
                  Delete</a>
              </td>
            </tr>
        </tbody>
    </div>
</div>
