<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
  Service Management</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="#/dashboard">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#/services/main">Service Management</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a>Edit Service</a>
    </li>
  </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">

    <!-- Begin: life time stats -->
    <div class="portlet light portlet-fit bordered">
      <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
              <i class="fa fa-user theme-font"></i>
              <span class="caption-subject font-blue-madison bold uppercase">Edit Service</span>
          </div>
          <ul class="nav nav-tabs">
              <li class="active">
                  <a href="#" data-target="#tabInfo" data-toggle="tab">Service Description</a>
              </li>
              <li>
                  <a href="#" data-target="#tabManager" data-toggle="tab">Manager</a>
              </li>
          </ul>
      </div>
      <div class="portlet-body">
        <!-- BEGIN TAB CONTENT  -->
        <div class="tab-content">
          <!-- BEGIN PERSONAL INFO -->
          <div class="tab-pane active" id="tabInfo">
            <div ng-include="'views/service/edit.personal.html'"></div>
          </div>
          <!-- END PERSONAL INFO -->
          <!-- BEGIN CHANGE PASSWORD -->
          <div class="tab-pane" id="tabManager">
            <div ng-include="'views/service/edit.manager.html'"></div>
          </div>
          <!-- END CHANGE PASSWORD -->
        </div>
        <!-- END TAB CONTENT -->
      </div>
      <!-- End: life time stats -->
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
