<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
  Service Management</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/services/main">Service Management</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>New Service</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">

        <!-- Begin: life time stats -->
        <form id="editForm" role="form" class="form-horizontal" ng-submit="new.save()">
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i> New Service
                    </div>
                    <div class="actions">
                        <a href="#/services/main" class="btn btn-outline red">
                            <i class="fa fa-times"></i>
                            <span class="hidden-480">
                Batal
              </span>
                        </a>
                        <button type="submit" class="btn btn-outline green">
                            <i class="fa fa-save"></i>
                            <span class="hidden-480">
                Simpan
              </span>
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="nama">Nama</label>
                                    <div class="col-md-10">
                                        <input type="text" required ng-model="new.service.nama" class="form-control" id="nama" placeholder="Masukkan Nama">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="alamat">Alamat</label>
                                    <div class="col-md-10">
                                        <input type="text" required ng-model="new.service.alamat" class="form-control" id="alamat" placeholder="Masukkan Alamat">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="desc">Deskripsi</label>
                                    <div class="col-md-10">
                                        <input type="text" required ng-model="new.service.deskripsi" class="form-control" id="desc" placeholder="Masukkan Deskripsi">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="telp">Telp</label>
                                    <div class="col-md-10">
                                        <input type="text" required ng-model="new.service.telp" class="form-control" id="telp" placeholder="Masukkan Telpon">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                  <label class="col-md-2 control-label" for="roles">Tipe</label>
                                  <div class="col-md-10">
                                    <div class="md-radio-inline">
                                      <div class="md-radio">
                                        <input type="radio" ng-model="new.service.tipe_id" value="1" id="roles1" name="roles" class="md-radiobtn">
                                        <label for="roles1">
                                          <span></span>
                                          <span class="check"></span>
                                          <span class="box"></span>
                                          Tambal Ban
                                        </label>
                                      </div>
                                      <div class="md-radio">
                                        <input type="radio" ng-model="new.service.tipe_id" value="2" id="roles2" name="roles" class="md-radiobtn">
                                        <label for="roles2">
                                          <span></span>
                                          <span class="check"></span>
                                          <span class="box"></span>
                                          Bengkel
                                        </label>
                                      </div>
                                      <div class="md-radio">
                                        <input type="radio" ng-model="new.service.tipe_id" value="3" id="roles3" name="roles" class="md-radiobtn">
                                        <label for="roles3">
                                          <span></span>
                                          <span class="check"></span>
                                          <span class="box"></span>
                                          Pom Bensin
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="lat">Lat</label>
                                    <div class="col-md-10">
                                        <input type="text" required ng-model="new.service.lat" class="form-control" id="lat" placeholder="Masukkan Latitude">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="lng">Lng</label>
                                    <div class="col-md-10">
                                        <input type="text" required ng-model="new.service.lng" class="form-control" id="lng" placeholder="Masukkan Longitude">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" pan="true" control="map.control">
                                        <!--to add as a map control -->
                                        <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

                                        <ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" events="marker.events"></ui-gmap-marker>

                                    </ui-gmap-google-map>
                                </div>
                            </div>
                        </div>
                        <!-- FORM BODY END -->
                    </div>
                    <!-- End: life time stats -->
                </div>
        </form>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
