<div class="wrapper">
  <form class="login">
    <p class="title">Log in</p>
    <div ng-if="auth.loginError">
      <div class="alert alert-danger" role="alert">
      {{auth.loginErrorText}}
      </div>
    </div>
    <input type="text" placeholder="Username" ng-model="auth.email" autofocus/>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" ng-model="auth.password" />
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <button ng-click="auth.login()">
      <!-- <i class="spinner"></i> -->
      <span class="state">Log in</span>
    </button>
  </form>
  </p>
</div>
