<!-- public/view/userView.html -->

<div class="col-sm-6 col-sm-offset3">
  <div class="well">
    <h5 ng-if="authenticated">Welcome {{currentUser.name}}</h5>
    <h3>Users</h3>
    <div class="buttons" style="margin-bottom: 10px">
      <button class="btn btn-primary" ng-click="user.getUsers()">Get Users</button>
      <button class="btn btn-danger" ng-click="user.logout()">Logout</button>
    </div>
    <ul class="list-group" ng-if="user.users">
      <li class="list-group-item" ng-repeat="user in user.users.data">
        <h4>{{user.name}}<h4>
        <h5>{{user.email}}</h5>
      </li>
    </ul>
    <div class="alert alert-danger" ng-if="user.error">
      <strong>There was an Error: </stong> {{user.error.error}}
      <br>Please go back and login again
    </div>
  </div>
</div>
