<form id="editPasswd" role="form" class="form form-horizontal" ng-submit="edit.savePassword()">
  <div class="form-body">
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="pass">Password</label>
      <div class="col-md-10">
        <input type="password" required ng-model="edit.password.password" class="form-control" id="pass" placeholder="Masukkan Password Anda">
        <div class="form-control-focus"></div>
      </div>
    </div>
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="confirmpass">Konfirmasi Password</label>
      <div class="col-md-10">
        <input type="password" required ng-model="edit.password.passwordConfirm" class="form-control" id="confirmpass" placeholder="Masukkan Kembali Password Anda" val-validator="edit.password.password != edit.password.passwordConfirm ? 'Password tidak sama' : ''">
        <div class="form-control-focus"></div>
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn green-haze">
            Submit
          </button>
          <a href="#/users/main" class="btn btn-default">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
