<form id="editForm" role="form" class="form form-horizontal" ng-submit="edit.savePersonal()">
  <div class="form-body">
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="nama">Nama</label>
      <div class="col-md-10">
        <input type="text" required ng-model="edit.user.nama" class="form-control" id="nama" placeholder="Masukkan Nama Anda">
        <div class="form-control-focus"></div>
      </div>
    </div>
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="alamat">Alamat</label>
      <div class="col-md-10">
        <input type="text" required ng-model="edit.user.alamat" class="form-control" id="alamat" placeholder="Masukkan Alamat Anda">
        <div class="form-control-focus"></div>
      </div>
    </div>
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="email">Email</label>
      <div class="col-md-10">
        <input type="email" required ng-model="edit.user.email" class="form-control" id="email" placeholder="Masukkan Email Anda">
        <div class="form-control-focus"></div>
      </div>
    </div>

    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="telp">Telp</label>
      <div class="col-md-10">
        <input type="text" required ng-model="edit.user.telp" class="form-control" id="telp" placeholder="Masukkan No Telpon Anda">
        <div class="form-control-focus"></div>
      </div>
    </div>
    <div class="form-group form-md-checkboxes">
      <label class="col-md-2 control-label" for="verifikasi">Verifikasi</label>
      <div class="col-md-10">
        <div class="md-checkbox-inline">
          <div class="md-checkbox">
            <input type="checkbox" ng-model="edit.user.verified" ng-true-value="'1'" ng-false-value="'0'" name="verifikasi" id="verifikasi" class="md-check">
            <label for="verifikasi">
              <span></span>
              <span class="check"></span>
              <span class="box control-label"></span>
              Ya
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label" for="roles">Roles</label>
      <div class="col-md-10">
        <div class="md-radio-inline">
          <div class="md-radio">
            <input type="radio" ng-model="edit.user.role_name" value="admin" id="roles1" name="roles" class="md-radiobtn">
            <label for="roles1">
              <span></span>
              <span class="check"></span>
              <span class="box"></span>
              Admin
            </label>
          </div>
          <div class="md-radio">
            <input type="radio" ng-model="edit.user.role_name" value="user" id="roles2" name="roles" class="md-radiobtn">
            <label for="roles2">
              <span></span>
              <span class="check"></span>
              <span class="box"></span>
              User
            </label>
          </div>
          <div class="md-radio">
            <input type="radio" ng-model="edit.user.role_name" value="pemilik" id="roles3" name="roles" class="md-radiobtn">
            <label for="roles3">
              <span></span>
              <span class="check"></span>
              <span class="box"></span>
              Pemilik
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn green-haze">
            Submit
          </button>
          <a href="#/users/main" class="btn btn-default">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
