<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Delete selected user?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
  User Management</h3>

<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="#/dashboard">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#/users/main">User Management</a>
    </li>
  </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">

    <!-- Begin: life time stats -->
    <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-user"></i>
          User Listing
        </div>
        <div class="actions">
          <a href="#/users/new" class="btn btn-outline green">
            <i class="fa fa-plus"></i>
            <span class="hidden-480">
              New User
            </span>
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="paging_bootstrap_extended" style="display: inline-block;float: none!important;padding: 0!important;margin: 0!important;position: static!important;">
                <div class="pagination-panel">
                  Page
                  <a ng-click="user.prevPage()" class="btn btn-sm default prev">
                    <i class="fa fa-angle-left"></i>
                  </a>
                  <input dl-enter-key="user.getUserList()" ng-model="user.pageNumber" type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;">
                  <a ng-click="user.nextPage()" class="btn btn-sm default next">
                    <i class="fa fa-angle-right"></i>
                  </a>
                  of
                  <span class="pagination-panel-total">{{user.pageTotal}}</span>
                </div>
              </div>
              <div style="display: inline-block;float: none!important; padding: 0!important;margin: 0!important;position: static!important;">
                <label>
                  <span class="seperator">|</span>View
                  <select ng-change="user.getUserList()" ng-model="user.count" convert-to-number class="form-control input-xs input-sm input-inline">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                  </select>
                  records</label>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
            <thead>
              <tr role="row" class="heading">
                <th width="5%">
                  ID&nbsp;#
                </th>
                <th width="15%">
                  Nama
                </th>
                <th width="15%">
                  Alamat
                </th>
                <th width="15%">
                  Email
                </th>
                <th width="10%">
                  Telp
                </th>
                <th width="10%">
                  Terverifikasi
                </th>
                <th width="10%">
                  Dibuat
                </th>
                <th width="10%">
                  Role
                </th>
                <th width="10%">
                  Actions
                </th>
              </tr>
              <!-- <tr role="row" class="filter">
                <td></td>
                <td>
                  <input type="text" class="form-control form-filter input-sm">
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm">
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm">
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm">
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm"/>
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm"/>
                </td>
                <td>
                  <select name="order_status" class="form-control form-filter input-sm">
                    <option value="">Select...</option>
                    <option value="admin">Admin</option>
                    <option value="user">Closed</option>
                    <option value="pemilik">On Hold</option>
                  </select>
                </td>
                <td>
                  <div class="margin-bottom-5">
                    <button class="btn btn-sm yellow filter-submit margin-bottom">
                      <i class="fa fa-search"></i>
                      Search</button>
                  </div>
                  <button class="btn btn-sm red filter-cancel">
                    <i class="fa fa-times"></i>
                    Reset</button>
                </td>
              </tr> -->
            </thead>
            <tbody>
              <tr ng-repeat="u in user.users">
                <td>{{u.id}}</td>
                <td>{{u.nama}}</td>
                <td>{{u.alamat}}</td>
                <td>{{u.email}}</td>
                <td>{{u.telp}}</td>
                <td>
                  <i class="fa {{u.verified === '1' ? 'fa-check' : 'fa-times'}}"></i>
                </td>
                <td>{{u.created_at}}</td>
                <td>{{u.role_name}}</td>
                <td>
                  <div class="margin-bottom-5">
                    <a class="btn btn-sm blue margin-bottom" href="#/users/edit/{{u.id}}">
                      <i class="fa fa-edit"></i>
                      Edit</a>
                  </div>

                  <a ng-click="user.delete(u.id)" class="btn btn-sm red">
                    <i class="fa fa-times"></i>
                    Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END MAIN CONTENT -->
