<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
  User Management</h3>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#/users/main">User Management</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a>New User</a>
      </li>
    </ul>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN MAIN CONTENT -->
  <div class="row">
    <div class="col-md-12">

      <!-- Begin: life time stats -->
      <form id="editForm" role="form" class="form-horizontal" ng-submit="new.save()">
      <div class="portlet light portlet-fit portlet-datatable bordered">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-user"></i>
            New User
          </div>
          <div class="actions">
            <a href="#/users/main" class="btn btn-outline red">
              <i class="fa fa-times"></i>
              <span class="hidden-480">
                Batal
              </span>
            </a>
            <button type="submit" class="btn btn-outline green">
              <i class="fa fa-save"></i>
              <span class="hidden-480">
                Simpan
              </span>
            </button>
          </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
              <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="nama">Nama</label>
                <div class="col-md-10">
                  <input type="text" required ng-model="new.user.nama" class="form-control" id="nama" placeholder="Masukkan Nama Anda">
                  <div class="form-control-focus"></div>
                </div>
              </div>
              <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="alamat">Alamat</label>
                <div class="col-md-10">
                  <input type="text" required ng-model="new.user.alamat" class="form-control" id="alamat" placeholder="Masukkan Alamat Anda">
                  <div class="form-control-focus"></div>
                </div>
              </div>
              <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-10">
                  <input type="email" required ng-model="new.user.email" class="form-control" id="email" placeholder="Masukkan Email Anda">
                  <div class="form-control-focus"></div>
                </div>
              </div>
              <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="pass">Password</label>
                <div class="col-md-10">
                  <input type="password" required ng-model="new.user.password" class="form-control" id="pass" placeholder="Masukkan Password Anda">
                  <div class="form-control-focus"></div>
                </div>
              </div>
              <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="confirmpass">Konfirmasi Password</label>
                <div class="col-md-10">
                  <input type="password" required ng-model="new.user.passwordConfirm" class="form-control" id="confirmpass" placeholder="Masukkan Kembali Password Anda" val-validator="new.user.password != new.user.passwordConfirm ? 'Password tidak sama' : ''">
                  <div class="form-control-focus"></div>
                </div>
              </div>
              <div class="form-group form-md-line-input">
                <label class="col-md-2 control-label" for="telp">Telp</label>
                <div class="col-md-10">
                  <input type="text" required ng-model="new.user.telp" class="form-control" id="telp" placeholder="Masukkan No Telpon Anda">
                  <div class="form-control-focus"></div>
                </div>
              </div>
              <div class="form-group form-md-checkboxes">
                <label class="col-md-2 control-label" for="verifikasi">Verifikasi</label>
                <div class="col-md-10">
                  <div class="md-checkbox-inline">
                    <div class="md-checkbox">
                      <input type="checkbox" ng-model="new.user.verified" ng-true-value="'1'" ng-false-value="'0'"  name="verifikasi" id="verifikasi" class="md-check">
                      <label for="verifikasi">
                        <span></span>
                        <span class="check"></span>
                        <span class="box control-label"></span> Ya </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group form-md-line-input">
                  <label class="col-md-2 control-label" for="roles">Roles</label>
                  <div class="col-md-10">
                    <div class="md-radio-inline">
                      <div class="md-radio">
                        <input type="radio" ng-model="new.user.role_name" value="admin" id="roles1" name="roles" class="md-radiobtn">
                        <label for="roles1">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span> Admin </label>
                        </div>
                        <div class="md-radio">
                          <input type="radio" ng-model="new.user.role_name" value="user" id="roles2" name="roles" class="md-radiobtn">
                          <label for="roles2">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> User </label>
                          </div>
                          <div class="md-radio">
                            <input type="radio" ng-model="new.user.role_name" value="pemilik" id="roles3" name="roles" class="md-radiobtn">
                            <label for="roles3">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span> Pemilik </label>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- End: life time stats -->
              </div>
            </form>
            </div>
            <!-- END MAIN CONTENT -->
          </div>
